.btn-toolbar .btn-agree {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-toolbar .btn-cancel {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}